<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" 
            routerLink="/home"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">
            01 : Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
            routerLink="/about-me"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">
            02 : About Me
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
            routerLink="/works"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">
            03 : Works
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
            routerLink="/blog"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">
            04 : Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
            routerLink="/contact"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">
            05 : Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>