@import '../../../../styles/_mixin'

div
  background-color: #000
  height: 10%
  display: flex
  align-items: center
  position: sticky
  top: 0
  z-index: 100
ul
  color: #fff
  list-style-type: none
  margin: 0
  display: flex
li
  &:hover
    font-weight: bold
    cursor: pointer
  &:not(:last-child)
    margin-right: 2rem
    border-right: 1px solid #fff
    padding-right: 2rem
fa-icon
  display: none

@include breakpoint(pad)
  ul
    display: none
  fa-icon
    display: block
    font-size: 1.5rem
    margin: 0rem 1.5rem 0rem auto
    color: #fff
    cursor: pointer