<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">01 : Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-me">02 : About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/works">03 : Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">04 : Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">05 : Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>