home
  .background
    height: 90%
    background-image: url("../../../assets/home.jpg")
    background-size: cover
    position: relative
    > div
      position: absolute
      bottom: 30%
      left: 8%
    > div 
      > h1
        font-size: 2.5rem
        color: #fff
      span.text
        font-weight: bold
