.container-wrap
  display: flex
  justify-content: center
.content-wrap
  max-width: 1000px
  width: 100%
  display: flex
  > div:first-child
    flex: 2.5
  > div:nth-child(2)
    flex: 1.5
  > div
    padding: 2rem
    input, textarea
      width: 100%
      display: block
      margin: 1rem 0rem
      padding: 0.8rem
      border: 1px solid #000
      border-radius: 0px
      height: 1rem
      font-family: 'Roboto Mono', 'Helvetica'
      font-size: 0.8rem
    textarea
      height: 50%
      resize: none
    button
      padding: 0.5rem 0.9rem
      font-size: 0.8rem
    &.form > p
      font-size: 0.8rem
      width: 100%
      color: #fff
      padding: 1rem
      margin-top: 1.5rem
      &.success
        background-color: #000
      &.failed
        background-color: red
    a
      filter: grayscale(100%)
      margin-right: 1rem
      transition: .5
      &:hover
        filter: grayscale(0%)
      fa-icon
        font-size: 1.5rem