.background
  height: 30rem
  position: relative
img
  width: 100%
  object-fit: cover
.text-card
  position: absolute
  top: 150px
  left: 0
  right: 0
  margin: 0 auto
  padding: 1rem 1.5rem
  background-color: #fff
  width: 15rem
h1
  font-size: 1.5rem
  font-weight: bold
p
  font-size: 0.6rem
button
  margin-top: 1rem
  