@import '../../../../styles/_mixin'

blog-post
  a.back   
    position: fixed
    top: 10%
    left: 5%
    cursor: pointer
    color: #000
  fa-icon
    margin-right: .5rem
  .container
    display: flex
    justify-content: center
    padding-top: 6rem
    > div
      width: 70%
      margin-bottom: 10rem
    p
      font-size: 1.2rem
      code
        margin: 0rem 0.5rem
    img
      max-width: 100%
      margin: 1rem auto
    h1, h2, h3, h4, h5, h6, p, pre, ol
      margin: 2rem 0rem
    blockquote
      background-color: #efefef
      padding: 1rem
      border-radius: 0.3em
      p
        margin-bottom: 0rem

  @include breakpoint(pad)
    a.back
      position: unset   
      display: inline-block
      margin: 6rem 0rem 2rem 3rem
    .container
      padding-top: 0rem
      > div
        width: 80%

  @include breakpoint(phone)
    a.back   
      position: unset   
      display: inline-block
      margin: 6rem 0rem 2rem 3rem
    .container
      padding-top: 0rem
      > div
        width: 90%
  