<div class="page-title">
  <span>02 : About Me</span>
</div>
<div class="container-wrap">
  <div class="content-wrap">
    <div>
      <p>Hello World!</p>
      <br />
      <p>Nice to meet you. My name is Claudia Teng. :)</p>
      <br />
      <p>
        I’m full-stack developer with two year experience in Node.js, Express,
        Angular, and React. I enjoy in building websites, coding, and solving
        problems. I’m always eager to learn new skills and techniques!
      </p>
      <p>
        You can find my resume
        <a href="assets/claudia-teng-cv.pdf" download>here</a>.
      </p>
    </div>
    <div>
      <img src="assets/about-me.png" />
    </div>
  </div>
</div>
